<main role="main">
	<ul class="entries-list no-bullets no-padding">
		{{#each cards}}
		<li class="entry-item pad-b-4">
			<a href="/card/{{id}}" class="entry-title font-2 pad-b-1-4 c-white">{{this.cardname}}</a>
			<span class="entry-date block font-3-4 c-lt-gray">Written on {{this.createdAt}}</span>
			<p class="entry-stub">{{this.body}}</p>
		</li>
		{{/each}}
	</ul>
</main>