<section class="section">
	<div class="container">
		<ul class="card__list">
			{{#each cards}}
			<li class="card__item">
				<div class="card__inner">
					<img class="card__inner-img" src="{{this.img}}" alt="MTG-1">
					<div class="card__list-info">
						<p class="card__list-info__price"><span>Price:</span><i>{{this.price}}$</i></p>
						<p class="card__list-info__city"><span>City:</span><i>Moscow</i></p>
						<p class="card__list-info__condition"><span>Condition:</span><i>New</i></p>
					</div>
					<div class="card__inner-buttons">
						<button>Delete</button>
						<button>Edit</button>
						<button>Buy</button>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</section>