<body>
  <header class="header"> 
    <div class="container">

      <div class="header_inner">
          <a class="header__logo" href="/">
            <img class="header__logo-img" src="/img/mtg.png" alt="Magic-The-Gathering">
          </a>

        <div class="choosing-city">
          <input class="choosing-city__input" placeholder="Your text..." type="text">

          <select name="select">
            <option>Sochi</option>
            <option>Krasnodar</option>
            <option>Saratov</option>
            <option>Astrakhan</option>
            <option selected>Moscow</option>
            <option>Saint-P</option>
            <option>Yaroslavl</option>
            <option>Kazan</option>
            <option>Derbent</option>
          </select>
        </div>

        <div class="header_buttons">
          <button class="btn btn-logout" type="submit">
            Sell
          </button>
          <button class="btn btn-up" type="submit">
            Sign Up
          </button>
          <button class="btn btn-in" type="submit">
            Sign In
          </button>
          <button class="btn btn-logout" type="submit">
            Logout
          </button>
          <a href="#" class="cart__link">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      
    </div>
  </header>

  <section class="section">
    <div class="container">
      <ul class="card__list">

        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg1.png" alt="MTG-1">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>500$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Moscow</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>New</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg2.png" alt="MTG-2">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>1000$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Krasnodar</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>Old</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg3.png" alt="MTG-3">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>1500$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Sochi</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>Average</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg4.png" alt="MTG-4">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>800$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Saint-P</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>Old</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg5.png" alt="MTG-5">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>900$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Saratov</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>Average</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg6.png" alt="MTG-6">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>750$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Yaroslavl</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>New</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg7.png" alt="MTG-7">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>1100$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Kazan</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>New</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card__inner">
            <img class="card__inner-img" src="/img/mtg8.png" alt="MTG-8">
            <div class="card__list-info">
              <p class="card__list-info__price"><span>Price:</span><i>1250$</i></p>
              <p class="card__list-info__city"><span>City:</span><i>Derbent</i></p>
              <p class="card__list-info__condition"><span>Condition:</span><i>Old</i></p>
            </div>
            <div class="card__inner-buttons">
              <button>Delete</button>
              <button>Edit</button>
              <button>Buy</button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>

</body>  
