{{!-- менюшка для зарегистрации на сайте --}}
<div class="img-up"></div>
<div>
    <div class="main-container">
        <div class="registr-container">
            <div class="under-header">
                <h1>Регистрация</h1>
            </div>
            <form action="/user/signup" method="post">
                <input class="input" required="required" type="text" name="name" placeholder="Введите имя">
                <input class="input" required="required" type="email" name="email" placeholder="Введите email">
                <input class="input" required="required" type="password" name="password" placeholder="Введите пароль">
                <div>
                    <div class="under-header">Ваш город</div>
                    <select class="city-container" required="required" name="user_city">
                        <option value="1">Москва</option>
                        <option value="2">Махачкала</option>
                        <option value="3">Тверь</option>
                        <option value="4">Севастополь</option>
                        <option value="5">Новосибирск</option>
                    </select>
                </div>
                <button class="button" type="submit">
                    <div class="under-header">Зарегистрироваться</div>
                </button>
            </form>
        </div>
    </div>
</div>