{{!-- менюшка для входа на сайт, если уже зарегистрирован --}}

<div>
    <div class="img-in"></div>
    <div class="main-container">
        <div class="registr-container">
            <div class="under-header">
                <h1>Вход</h1>
            </div>
            <form action="/user/signup" method="post">
                <input class="input" required="required" type="email" name="email" placeholder="Введите email">
                <input class="input" required="required" type="password" name="password" placeholder="Введите пароль">
                <button class="button" type="submit">
                    <div class="under-header">Войти</div>
                </button>
            </form>
        </div>
    </div>
</div>