{{!-- менюшка для входа на сайт, если уже зарегистрирован --}}

<div>
	<div class="img-in"></div>
	<div class="main-container">
		<div class="registr-container">
			<form action="/user/signin" method="post">
				<h1>Log into</h1>
				<label for="exampleEmail" class="form-label">Email address</label>
				<input class="input" required="required" type="email" name="email" placeholder="Enter emeail*" />
				<label for="examplePassword" class="form-label">Password</label>
				<input class="input" required="required" type="password" name="password" placeholder="Enter password*" />
				<button class="button" type="submit">Login</button>
			</form>
		</div>
	</div>
</div>