.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;

}

.city-container {
    font-size: 26px;
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.00001);
    text-shadow:
        0 -1px 2px rgb(255, 246, 168),
        0 -2px 4px #ff0,
        0 -3px 6px #ff8000,
        0 -4px 8px #F00;
    background-color: rgb(255, 255, 255, 0.00001);

}

.registr-container {
    width: 400px;
    border: solid 1px rgb(255, 255, 255, 0.00001);
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    margin-top: 300px;
    z-index: 100;
    background: rgb(255, 255, 255, 0.1);

    background: radial-gradient(ellipse at center, rgba(193, 185, 153, 0.4) 50%, rgb(255, 197, 45, 0.2) 60%, rgb(255, 255, 255, 0.0000001) 70%);
}

.button {
    font-size: 26px;
    margin: 12px;
    height: 36px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.00001);
}

.button:hover {
    background-color: #ff800083;
}

.button-extended {
    font-size: 26px;
    margin: 12px;
    height: 36px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.00001);
}

.button-extended:hover {
    background-color: #ff800083;
}

.input {
    font-size: 26px;
    font-weight: 500;
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
    font-family: fantasy;
    text-shadow:
        0 -1px 2px rgb(255, 246, 168),
        0 -2px 4px #ff0,
        0 -3px 6px #ff8000,
        0 -4px 8px #F00;
    color: black;
    background-color: rgb(255, 255, 255, 0.00001);
}

.img-up {
    background-image: url(/images/reg.png);
    background-color: black;
    image-orientation: center;
    height: 120%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-in {
    background-image: url(/images/aut.jpg);
    background-color: black;
    image-orientation: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}\7

.img-lot {
    background-image: url(/images/lot.jpeg);
    background-color: black;
    image-orientation: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.under-header {
    font-family: fantasy;
    text-shadow:
        0 -1px 2px rgb(255, 246, 168),
        0 -2px 4px #ff0,
        0 -3px 6px #ff8000,
        0 -4px 8px #F00,
        2px 2px 4px rgba(206, 89, 55, 0);
    color: black;
    background-color: rgb(255, 255, 255, 0.00001);
    font-family: fantasy;
}